.grid:first-child {
  display: grid;
  color: black;
  grid-template-columns: repeat(5, minmax(max-content, 1fr));
  height: 25vh;
  gap: 10px;
}

.grid:last-child {
  display: grid;
  color: black;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  height: 25vh;
  gap: 10px;
}

.item:nth-child(odd) {
  background-color: pink;
}

.item:nth-child(even) {
  background-color: black;
  color: white;
}
